<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/register.css" />
    <script src="js/register.js" type="module"></script>
  </head>
  <body>
    <header>
      <h1>Heim Chat</h1>
    </header>
    <main>
      <form action="#" method="post" class="card">
        <div class="input-group">
          <label for="username">¡Escribe tu nombre de usuario!</label>
          <input type="text" id="username" />
        </div>

        <div class="button-container">
          <button type="button" class="btn primary" id="login">
            Entrar al chat
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
